.footer {
    margin-inline: -4rem;
}

.logoF {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0;  
}

.logoFsmart {
    display: none;
}

.droits {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom:  30px;
}

@media (max-width: 650px) {

    .logoF {
        display: none;
    }
    .logoFsmart {
        display: flex;
        border-radius: 0px;
    }
    .footer {
        margin-inline: -20px;
        border-radius: 0px;
    }
}