.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 209px;
    background: black;
    gap: 30px
}

.logoF {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0;
    width: 200px;
    
}

.droits {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom:  30px;
}