.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flexLogo {
    display: flex;
}

.logo {
    display: flex;
    border-radius: 0;
}

.logoSmart{
    display: none;
    border-radius: 0;
}

.accueil {
    color: #FF6060;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    padding-bottom: 30px;
}

.accueil :hover {
    text-decoration: underline;
}

.apropos {
    color: #FF6060;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    padding-bottom: 30px;
}

.apropos :hover {
    text-decoration: underline;
}

.textH {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;   
}

@media (max-width: 650px) {

    .header {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .logo {
        display: none;
    }
    .logoSmart{
        display: flex;
        width: 176px;
    }
    .textH {
    gap: 10px;    
    }
    .accueil{
        font-size: 16px;
    }
    .apropos{
        font-size: 16px;
    }
}
