.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.boxTitle {
    height: 50px;
    background-color: #FF6060;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.titleCollapse {
    margin-inline: 1rem;
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding-top: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    height: 33%;
}

.tiroir {
    display: flex;
    width: 100%;
    background-color: rgb(245, 240, 240);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: all 1s ease-in-out;
} 

.tiroir_hidden {
    display: flex;
    opacity: 0;
    height: 0;
    animation: fillDown 1s ease-in-out forwards;
    } 

button {
    width: 100%;
    text-decoration: none;
    background-color: #FF6060;
    border: none;
}

.arrow {
    width: 20px;
    height: 100%;
    transition: all 0.3s ease-in-out;
   
}
.arrow_up {
    transform: rotate(0deg);
}
.arrow_down {
    transform: rotate(-180deg);
}

.textContent {
    padding: 10px;
    color:#FF6060;  
}

.content {
width: 100%;
letter-spacing: 1px;
visibility: visible;
opacity: 1;
height: auto;
padding: 10px;
font-size: 12px;
}

.mainC {
    padding-top: 3rem;
    @media screen and (max-width: 650px){  
    gap: 0px;
    margin-top: -2rem;
    margin-bottom: -1rem;}
}

