.collapse {
    margin: 30px;
}

.boxTitle {
    height: 50px;
    background-color: #FF6060;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titleCollapse {
    margin-inline: 1rem;
    color: white;
    font-weight: 500;
    font-size: 22px;
    padding-top: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tiroir {
    background-color: rgb(245, 240, 240);
    height: 200px;
    border-radius: 5px;
    margin-top: -18px;
    position: relative;
    z-index: 1;
}