body {
    font-family: "Montserrat";
    box-sizing: border-box;
    margin-inline: 4rem;
}


@media (min-width: 1440px) {

    body {
    max-width: 1440px;
    margin: 0 auto;
    }
}

@media (max-width: 650px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }
}