main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 3rem;
    padding-inline: 8rem;
}

@media (max-width: 900px) {

    main {
    padding-inline: 0px;
    }
}

