.body {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6060; 
    font-size: 300px;
    font-weight: 600;
    width: 597px;
    height: 263px;
    margin-top: 5rem;
}

.errorMessage {
    color: #FF6060;
    margin-top: 5rem;
    font-size: 36px;
    padding-bottom: 6rem;
}

.homeReturn {
    color: #FF6060;
    padding-bottom: 6rem;
}