.carousel {
    position: relative;
    flex-direction: row;
    height: 415px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
}

.arrow_left {
    width: 5%;
    position: absolute;
    left: 1rem;
    top: 45%;
    height: 15%;
    cursor: pointer;
    }

.arrow_right {
    width: 5%;
    position: absolute;
    right: 1rem;
    top: 45%;
    height: 15%;
    cursor: pointer;
        }

.slideCount{
        position: absolute;
        bottom: 25px;
        left: 50%;
        color: white;
        font-weight: 500;
    }
